*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e6e6e6;
}

.title-pages{
    background-color: #e6e6e6cf;
    font-size: 25px;
    font-weight: 500;
}

.main{
    padding-top: 50px;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.content-text{
    line-height: 25px;
}

.example-text{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    font-weight: 600;
    line-height: 20px;
    width: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content{
    font-size: 15px;
    padding: 50px 0;
    text-align: justify;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


img{
    width: 500px;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 600px) {
    
    .main{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    img{
        width: 300px;
    }

    .content{
        font-size: 13px;
    }
}