@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Tiro+Telugu:ital@0;1&display=swap');
/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: white;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    width: 250px;
    height: 100%;
    padding: 30px 0;
    background-color: #E79057;
    color: white;
    margin-left: -250px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.wrapper .sidebar h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.wrapper .sidebar h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
} 

.wrapper .sidebar-visible h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.wrapper .sidebar-visible h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
} 

.wrapper .sidebar ul li{
    padding: 5px;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    cursor: pointer;
}

.wrapper .sidebar-visible ul li{
    padding: 5px;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    cursor: pointer;
}

.wrapper .sidebar-visible ul li:hover{
    background-color: white;
    color: #E79057;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.wrapper .sidebar ul{
    margin-bottom: 20px;
}

.wrapper .sidebar-visible ul{
    margin-bottom: 20px;
}


.wrapper .sidebar ul li:hover{
    background-color: white;
    color: #E79057;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.header{
    font-size: 30px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 50px;
    background-color: #e6e6e6cf;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    padding-top: 50px;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.content{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #e6e6e6cf;
    height: 100px;
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content-pages{
    font-size: 14px;
    padding: 50px 0;
    width: 50vw;
    text-align: justify;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.title-pages{
    font-size: 25px;
    font-weight: 500;
}

.example{
    font-size: 20px;
    font-weight: 500;

}

img{
    width: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

i{
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.wrapper .sidebar-visible{
    width: 250px;
    padding: 30px 0;
    background-color: #E79057;
    color: white;
    z-index: 9999;
    margin-left: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.cross{
    position: absolute;
    right: 10px;
    top: 10px;
}


@media screen and (min-width:600px) {
    .cross{
        display: none !important;
    }
} 

@media screen and (min-width:800px) {
    .header{
        font-size: 45px;
        width: 400px;
        height: 100px;
    }

    .content{
        font-size: 18px;
        width: 500px;
        height: 100px;
    }
}

@media screen and (max-width:600px) {
    .wrapper .sidebar-visible{
        top: 0;
        width: 100%;
        height: 160vh;
        position: absolute;
        
    }

    .wrapper .sidebar-visible ul li{
        text-align: center;
        font-size: 16px;
    }

    .main{
        width: 100vw;
        height: 100%;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 300px;
    }

    .content{
        font-size: 12px;
    }

}